@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Numans&display=swap");

:root {
  font-family: Nunito, ui-sans-serif, system-ui, sans-serif;
  color: #080808;
  background: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-numans {
  font-family: Numans, Nunito, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}
